html {
  zoom: 100%;
}

@font-face {
		font-family: FontinSmallCaps;
		src: url("Fontin-SmallCaps.ttf");
	}
	
	@font-face {
		font-family: Fontin;
		src: url("Fontin-Regular.ttf");
	}
  
	span.positive {
		color: #88cc88;
	}

	span.negative {
		color: #cc8888;
	}
	
	body {
		background-color: #000;
    margin-left: 200px;
    margin-right: 100px;
	}
  
	.bodyScreenshot {
    margin-left: 40px !important;
    margin-right: 40px !important;
	}  
  
	table, tr, td, div {
    vertical-align: middle;
    font-family: FontinSmallCaps;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    color: #aaaaaa;
	}
	
	.tableLink {
    background-color: #333333;
    padding: 10px;
    margin-top: 16px;
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    user-select: none;
	}

	a {
    color: #6666ff;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
	}
	a.visited {
		color: #3333ff;
	}
	
	.mapInfo div {
		text-align: left;
		width: 100%;
		font-family: Fontin;
		color: #af6025;
		font-size: 20px;
	}
	
	div.tableLinkHeader {
		font-family: FontinSmallCaps;
		font-size: 30px;
	}

	.mapMod {
		text-align: right;
		font-family: FontinSmallCaps;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 20px;
		color: #8888ff;
	}

	.mapModScreenshot {
		text-align: left;
		font-family: FontinSmallCaps;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 20px;
		color: #8888ff;
	}
  
	.areaTime {
		text-align: left;
		font-family: FontinSmallCaps;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 20px;
	}
  
	table.mapTable > tbody > tr > td {
		width: 20%;
	}
	
	table > thead > tr > th {
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
	}

	.mapStat {
		font-size: 20px;
		text-align: center;
	}
	
	span.mapStatValue {
		color: #8888ff;
		font-size: 36px;
	}

	select, option {
		border-style: 1px solid white;
		background-color: #000000;
		color: #aaaaaa;
		font-family: FontinSmallCaps;
		font-size: 22px;
    margin: 8px 0px;
    padding: 4px;    
    min-width: 76px;
	}
	
	.dropbtn {
    cursor: pointer;
    text-align: left;
	}	

	/* Dropdown Content (Hidden by Default) */
	.dropdown-mapmods-content {
    background: rgba(0, 0, 0, 0.8);
    border: 2px ridge #aaaaaa;
    padding: 6px;
    display: none;
    position: absolute;
    right: 5%;
    z-index: 25;
	}	

	.dropdown-areatimes-content {
    background: rgba(0, 0, 0, 0.8);
    border: 2px ridge #aaaaaa;
    padding: 6px;
    display: none;
    position: absolute;
    right: 5%;
    z-index: 25;
	}	
  
	.eventInfo {
		font-family: Fontin;
		font-size: 24px;
	}
	
	.eventTime {
		font-family: FontinSmallCaps;
		color: #E07A31;
		font-size: 24px;
	}
	
	.eventType {
		/*text-transform: capitalize;*/
	}
	
	.eventText {
		color: #F1F06F;
	}
	
	.flatbottom {
		border-radius: 20px 20px 0px 0px;
	}
	
	.eventsDiv .chatDiv {
		border-radius: 0px 0px 20px 20px;
		background-color: white;
		padding: 10px;
		float: left;
	}
	
	.eventsArea, .chatArea, .mapArea {
		display: none;
	}
	
	.uniqueItemTooltipStyle {
    min-width: 100px !important ;
    border: 1px solid #af6025 !important ;
	}
  
	.tooltipOverride {
		background: rgba(0, 0, 0, 0) !important ;
    border: none !important ;
    pointer-events: none !important ;
    min-width: 400px !important;
    max-width: 900px !important;
	}
    
  
	.chatTime {
		color: #8F60C3;		
		font-family: FontinSmallCaps;
	}

	.chatFrom {
		color: #8F60C3;		
		font-family: Fontin;
	}

	.chatText {
		font-family: Fontin;
	}
  
  .uniqueItemName {
    margin: 2px 6px;
    text-align: center;
    color: #af6025;
    font-family: FontinSmallCaps;
    font-weight: 400;
    font-size: 24px;
  }
  
  .centerImage {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
 
  

.magic {
  color: #8787FE;
}
.rare {
  color: #FEFE76;
}
.unique {
  color: #AF5F1C;
}
.gem {
  color: #0D9F98;
}
.prophecy {
  color: #B547FE;
}

.ui-accordion .ui-accordion-header {
 	font-family: FontinSmallCaps;
  background-color: #333333;
  color: #fff8e1;
  padding: 10px;
  margin-top: 16px;
  border-radius: 20px;
  text-align: left;
  cursor: pointer;  
}

.ui-accordion .ui-accordion-header-active {
  border-radius: 20px 20px 0 0;
  border: 1px solid white;
}

.ui-accordion .ui-accordion-content {
  background-color: 0;
  border-radius: 0 0 20px 20px;
}

div.searchHeader {
  color: #fff8e1;
  border-top: 1px solid #465260;
  border-bottom: 1px solid #465260;
  font-size: 28px;  
  padding: 6px;
  margin-bottom: 10px;
}

.searchLabel {
  vertical-align: middle;
  color: #fff8e1;
  display: inline-block;
  min-width: 230px;
}

input {
  border: 1px solid #666666;
  margin: 8px 0px;
  padding: 4px;
 	font-family: FontinSmallCaps !important;
  font-size: 22px;
  background-color: #333333;
  color: #FFF8E1;
}

input.invalid, select.invalid {
  outline: 1px dashed #cc0000;
  background-color: #330000;
}

input.number {
  text-align: center;
}

input[type="submit"], input[type="reset"] {
  width: 100%;
  border-radius: 16px;
  margin-top: 16px;
  padding: 8px;
}

button {
  border: 1px solid #666666;
 	font-family: FontinSmallCaps !important;
  font-size: 22px;
  background-color: #333333;
  color: #FFF8E1;
  width: 100%;
  border-radius: 16px;
  padding: 8px;
}

button:disabled {
  border: 1px solid #333333;
  background-color: #000000;
  color: #666666;
}


span.headerIcon {
  font-size: 24px;
  vertical-align: middle;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    margin: 10px;
}

.ui-autocomplete {
  background: #333 !important;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.removeRow {
  cursor: pointer;
}

.mapRow {
  text-align: center;
}

.mapRow > td {
  padding: 6px 0;
}

.mapRow:hover {
  background: #333;
}

table.searchResults th, table.searchResults td {
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.sectionHeader {
  border-bottom: 2px solid #666;
  font-size: 30px;  
}

div.configLabel {
  vertical-align: middle;
  color: #aaaaaa;
  padding-right: 60px;
}

div.topBar {
  padding: 0;
  width: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  margin-left: -8px;
  vertical-align: middle;
}

span.item-name {
  font-family: FontinSmallCaps !important;
}

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  background-color: #111; /* Black */
  border: 1px solid #333;
  border-radius: 16px;
  padding: 10px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

* { box-sizing: border-box; }

.ui-text {
  -webkit-user-select:none;
  cursor: pointer;
}

.ui-tabs, .ui-tabs-nav, .ui-tabs-panel, .ui-tabs-anchor {
  background-color: #000 !important;
  font-family: FontinSmallCaps;
  border: none !important;
}

.ui-tabs-active, .ui-tabs-tab {
  background-color: #333 !important;
  border: 1px solid #999 !important;
  border-bottom: none !important;
}

.ui-tabs-anchor {
  color: #aaa;
  background-color: #333;
}

.ui-tabs-panel {
  border: 1px solid #999 !important;
}

.footer {
  font-family: Fontin;
  font-size: 16px;
  letter-spacing: 0px;
  color: #99F;
  display: none;
}

div.messageSection {
  position: fixed !important;
  bottom: 0px !important;
  top: auto !important;
  left: 0px !important;
  z-index: 1000;
  width: 100%;
  height: 40px;
  border-top: 1px solid #333;
  background-color: #000;
  overflow-y: hidden;
}

div.message {
  font-family: Fontin !important;
  margin-left: 5px;
}

.itemToggle {
  padding-right: 10px;
}


span.stackSize {
  font-size: 18px;
  font-weight: normal;
  color: #fff8e1;
  position: absolute;
  top: -1px;
  left: 4px;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000, -1px -1px 3px #000, 0 -1px 3px #000, 1px -1px 0 #000, 1px 0 3px #000, 1px 1px 3px #000, 0 1px 3px #000, -1px 1px 3px #000, -1px 0 3px #000;
}

div.stashTab {
  margin: 5px;
  padding:5px 5px 5px 15px;
  border-radius:8px;
  font-family:Fontin;
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 4px double #888;
  width: 50%;
  height: auto;
  min-width: 600px; /* Could be more or less, depending on screen size */
  background-color: rgb(0,0,0); /* Fallback color */  
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content div {
  font-family: Fontin;  
}

textarea.changelog {
  width:100%;
  border:1px solid #888;
  min-height: 400px;
  overflow-y:auto;
  resize:none;
  font-family:Fontin;
  font-size: large;
  background-color:black;
  color:#aaa;
}

.aboutInfo {
  font-family: Fontin;
  font-size: smaller;
}

span.itemSuffix {
  font-size: small;
  color: #B8DAF1;
}

.itemtypecheckbox + .itemtypeicon {
  opacity: 0.5;  
}
.itemtypecheckbox:checked + .itemtypeicon {
  opacity: 1;  
}

.itemtypecheckbox ~ .itemvaluefilter {
  visibility: hidden;
}
.itemtypecheckbox:checked ~ .itemvaluefilter {
  visibility: visible;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

img.currencyText {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.tableToggleIcon {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-family: monospace;
  font-weight: bold;
  font-size: 50px;
}

table.statsTable {
  width: 100%;
  border-spacing: 0;
  padding: 5px 25px 10px;
  border-radius: 0 0 12px 12px;
  margin-bottom: 10px;
}

tr.tableDetailRowSelected {
  background-color: #222;
}

tr.tableAreaDetailRowSelected {
  background-color: #333;
}

tr.areaNameRow:hover {
  background-color: #333;
}

tr.areaRunRow:hover {
  background-color: #444;
}

tr.statsTableFooter, tr.statsTableFooter:hover {
  background-color: #222;
}

thead > tr > th > * {
  font-weight: bold !important;
}

.pulse {
  animation: pulsate 0.5s infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(1.0, 1.0); 
        opacity: 1;
    }
    100% {
        transform: scale(3, 3);
        opacity: 0.25;
    }
}

  .inventoryContainer {
    display: grid;
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
    column-gap: 4px;
    row-gap: 4px;
    justify-content: center;
  }
  
  .inventoryContainer .inventoryItem {
    position: relative;
    border: 4px ridge #999;
    border-radius: 4px;
  }
  
  .inventoryContainer .inventoryItem:empty {
    position: relative;
    border: 4px ridge #333;
    border-radius: 4px;
  }
  
  .inventoryContainer .DisplayedWeapon {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }
  
  .inventoryContainer .DisplayedOffhand {
    grid-column: 7 / span 2;
    grid-row: 1 / span 4;
  }
  
  .inventoryContainer .MinimizedWeapon {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .inventoryContainer .MinimizedOffhand {
    grid-column: 6;
    grid-row: 1 / span 2;
  }

  .smallIcon img {
    transform: scale(0.5);
  }
  
  .inventoryContainer .Helm {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
  }

  .inventoryContainer .Amulet {
    grid-column: 6;
    grid-row: 3;
  }

  .inventoryContainer .Ring {
    grid-column: 3;
    grid-row: 4;
  }

  .inventoryContainer .Ring2 {
    grid-column: 6;
    grid-row: 4;
  }

  .inventoryContainer .Gloves {
    grid-column: 2 / span 2;
    grid-row: 5 / span 2;
  }

  .inventoryContainer .Boots {
    grid-column: 6 / span 2;
    grid-row: 5 / span 2;
  }
  
  .inventoryContainer .Belt {
    grid-column: 4 / span 2;
    grid-row: 6;
  }

  .inventoryContainer .BodyArmour {
    grid-column: 4 / span 2;
    grid-row: 3 / span 3;
  }
  
  .inventoryContainer .FlaskRow {
    grid-column: 3 / span 4;
    grid-row: 7 / span 2;
    position: relative;
  } 
  
  .inventoryContainer .TreeJewels {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 9;
  }
  
  .gearDefaultItem, .inventoryContainer .FlaskRow .Flask {
    margin: 0;
    position: absolute; 
    top: 50%;  
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
  }
  
  .gearMultiItem {
    position: relative;
    display: inline-block;
  }

  .Flask .gearMultiItem { padding: 2px; }
  .TreeJewels .gearMultiItem { padding: 5px; }
  
  .TreeJewels:empty {
    visibility: hidden;
  }
  
  .smallIcon .sockets {
    transform: scale(0.5); 
    /*visibility: hidden;*/
  }
    
  .gearDiff, .pseudoGearDiff, .lightPulse {
    animation: glowPulse 1s infinite;
  }
  
  @keyframes glowPulse {
    0% {
      filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000) drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
    }
    50% {
      filter: brightness(200%) drop-shadow(-1px -1px 1px #fff) drop-shadow(1px 1px 1px #fff) drop-shadow(-1px 1px 1px #fff) drop-shadow(1px -1px 1px #fff);
    }
    100% {
      filter: brightness(100%) drop-shadow(-1px -1px 1px #000) drop-shadow(1px 1px 1px #000) drop-shadow(-1px 1px 1px #000) drop-shadow(1px -1px 1px #000);
    }
  }
  
  .displayedWeapon.swappableWeapon:not(:empty):hover, .displayedOffhand.swappableWeapon:not(:empty):hover {
    background-image:url("img/weaponswap.png");
    background-size: 15%;
    background-position: 95% 2%;
    background-repeat: no-repeat;
  }
  
  .minimizedWeapon.swappableWeapon:not(:empty):hover, .minimizedOffhand.swappableWeapon:not(:empty):hover {
    background-image:url("img/weaponswap.png");
    background-size: 20%;
    background-position: 95% 2%;
    background-repeat: no-repeat;
  }
  
  .gearTypeButton {
    border: 5px outset #B2833C;
    border-radius: 12px;
    width: 75px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    filter: brightness(80%);
  }

  .gearTypeButton.selected {
    filter: brightness(400%);
  }
  
  .gearTypeIcon {
    width: 50px;
    height: 50px;
    padding-top: 10px;
  }

  .gearTypeIcon.flipped {
    transform: scaleX(-1);
  }
  
  .gearTypeLabel {
    color: #DEA64A;
    font-size: small;    
  }
  
  .masterFavour {
    display:inline;
    vertical-align:top;
  }
  
  .encounterIcon {
    display:inline-block;
  }
  
  .totalStatHeader {
    padding: 10px 25px;
    background-image: linear-gradient(to right, black, #444 5%, black);
    margin-bottom: 20px;
    margin-left: 15px;
    color: #FFECAF;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-shadow: 2px 2px black;
    position: relative;
  }
  
  .totalStatInfo {
    margin-bottom: 80px;
  }
  
  table.extraInfo {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  table.extraInfo td {
    padding: 0px 20px;
  }

  table.extraInfo thead {
    background-color: #222;
  }
  
  .totalStatInfoText {
    margin-left: 20px;
  }
  
  .statValue {
    color: #ffff88;
  }
  
  .conqIcon {
    height: 2em;
    width: 2em;
    margin-right:5px;
    vertical-align:middle;
    position:absolute;
    left: -10px;
  }
  
  .masterIcon {
    height: 2.75em;
    width: 2.75em;
    margin-right:5px;
    vertical-align:middle;
    position:absolute;
    top: -6px;
    left: -18px;
  }
  
  .conqLabel {
    line-height: 2em;
    padding-left: 40px;
  }

  .masterLabel {
    line-height: 2em;
    padding-left: 50px;
  }
  
  .totalStatSection {
    margin-bottom: 1em;
  }
  
  .totalStatSubInfoHeader {
    position:relative;
    height:2em;
    vertical-align:middle;
    border-radius: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
    color: white;
    background-image: linear-gradient(to right, #CCC, black);
  }
  
  .totalStatSubInfoHeader.redeemer {
    background-image: linear-gradient(to right, #363A96, black 75%);
  }
  .totalStatSubInfoHeader.crusader {
    background-image: linear-gradient(to right, #5D1E19, black 75%);
  }
  .totalStatSubInfoHeader.hunter {
    background-image: linear-gradient(to right, #526942, black 75%);
  }
  .totalStatSubInfoHeader.warlord {
    background-image: linear-gradient(to right, #63513A, black 75%);
  }  
  .totalStatSubInfoHeader.sirus {
    background-image: linear-gradient(to right, #330000, black 75%);
    color: #AA0000; 
    text-shadow: 2px 2px black;
  }
  
  .totalStatSubInfoHeader.Zana {
    background-image: linear-gradient(to right, #382B1D 35%, #837A2F 60%, #32A4A8 85%, black);
  }
  .totalStatSubInfoHeader.Einhar {
    background-image: linear-gradient(to right, #3F1411 55%, #B5B28C 85%, black);
  }
  .totalStatSubInfoHeader.Alva {
    background-image: linear-gradient(to right, #3F131D 55%, #58AE8F 85%, black);
  }
  .totalStatSubInfoHeader.Niko {
    background-image: linear-gradient(to right, #15191E 55%, #31F7FF 85%, black);
  }  
  .totalStatSubInfoHeader.Jun {
    background-image: linear-gradient(to right, #3F2E0F 55%, #B7B13E 85%, black);
  }
  
  .statIcon {
    display:inline-block;
    height:1.25em;
    width:1.25em;
    margin: 3px 0;
    vertical-align:middle;
  }
  
  div.deleteRun {
    color: #AA0000;
    width: 150px;
    text-align: center;
    background-color: #440000;
    border-radius: 1em;
    float: right;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 0.66em;
    opacity: 66%;
    cursor: pointer;
  }
  
  div.deleteRun:hover {
    filter: brightness(125%);
    opacity: 100%;
  }
  
  span.beastCount {
    display: inline-flex;
    margin-left: 10px;
    color: #AAA;
  }
  
  span.menuIcon {
    float: right;
    font-size: 50px;
    font-weight: bold;
    font-face: sans-serif;
    margin-right: 10px;
    cursor: pointer;
  }
  
  div.popupMenu {
    display: none;
    position: absolute;
    padding: 12px;
    background: #000;
    border: 2px solid #999;
    max-width: 320px;
  }
  
  span.popupMenuText {
    font-family: Fontin;
    font-size: smaller;
  }
  
  div.colDiv {
    font-size: smaller;
    background: #333;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #unusedCols > div.colDiv {
    opacity: 0.5;
  }
  
  div.columnList {
    min-height: 32px;
    background: #111;
    padding: 4px;
  }
  
  div.popupMenuButton {
    padding: 0px 18px;
    margin: 8px 4px;
    border: 2px #666 outset;
    border-radius: 8px;
    background: #333;
    display: inline-block;
    cursor: pointer;
  }
  
  div.popupMenuButton:active {
    border: 2px #666 inset;
  }  
  
  div.mapEncounterCell > img {
    height: 1.25em;
    padding: 0 2px;
  }
  
  thead.sticky > tr > th { 
    position: sticky; 
    top: 0; 
    background: #000; 
    opacity: 1; 
  }
    
  
  thead.bigDropsHeader > tr > th { 
    top: -10; 
    z-index: 5000; 
  }
